* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}


.container{
    padding: 20px;
    height: 200px;
    width: 500px;
    background-color: white;
}

.form-group{
    margin-bottom: 20px;
    transition: all .3s;
}
.form-label{
    font-size: 1em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-1.6em) translateX(0.5em);
    transform-origin: 0 0;
    transition: all .3s;
}

.form-control{
    box-shadow: none;
    background-color: rgba(0,0,0,.02);
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    transition: all .5s;
    padding: 8px;
}

.form-control::placeholder{
    color: transparent;
}

.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label{
    transform: translateY(-2.9em) scale(.8) translateX(1em);
    background-color: white;
    color: blue;
    width: 100px;
    padding-left: 3%;
}